<% const intervals = ['daily', 'weekly', 'monthly']; %>

<section class="summary__section">
    <% intervals.forEach(interval => { %>
        <details>
            <summary class="summary"><%= interval %></summary>
                <% if(userRole === "aqua") { %>
                    <% const url = departments[3].title.replace(/\s/g, '').toLowerCase(); %>
                   <li class="summary__li"><a class="summary__link" href='<%= interval %>/<%= url %>'><%= departments[3].title %></a></li> 
                <% } else {%>
                <% departments.forEach(department => { %>
                    <% const url = department.title.replace(/\s/g, '').toLowerCase(); %>
                   <li class="summary__li">
                    <a class="summary__link" href='<%= interval %>/<%= url %>'>
                        <%= department.title %>
                    </a>
                    </li> 
                <% }); }%>
        </details>
    <% }); %>
</section>