<li class="task">
    <form action="/tasks/<%= task.id %>/completed" method="POST">
        <input 
          name="completed"
          class="task__check" 
          data-id="<%= task.id %>" 
          type="checkbox"
          <%= task.completed ? "checked" : "" %>>
        <div class="task__comment">
            <input name="comment"  placeholder="Optional: comment">
            <button class="task__button" type="submit">Send</button>
        </div>
    </form>
    <p class="task__title">
        <%= task.title %> | <span class="task__type"><%= title %></span>
    </p>
</li>