<section class="task-logs__container">
    <table class="task-logs">
        <h2 class="task-logs__title">Task Logs</h2>
        <tr class="task-logs__row task-logs__row--header">
            <th class="task-logs__cell task-logs__cell--header">Performed by</th>
            <th class="task-logs__cell task-logs__cell--header">Task name</th>
            <th class="task-logs__cell task-logs__cell--header">Task type</th>
            <th class="task-logs__cell task-logs__cell--header">Type name</th>
            <th class="task-logs__cell task-logs__cell--header">Status</th>
            <th class="task-logs__cell task-logs__cell--header">Comment</th>
            <th class="task-logs__cell task-logs__cell--header">Date</th>
        </tr>

        <% taskLogs.forEach(task=> { %>
            <% const date = new Date(task.task_date) %>
            <% const options={ hour12: false, year: 'numeric' , month: '2-digit' , day: '2-digit' , hour: '2-digit', minute: '2-digit' };%>

            <tr class="task-logs__row">
                <td class="task-logs__cell task-logs__cell--performed-by">
                    <%= users[task.user_id-1].first_name %>
                        <%= users[task.user_id-1].last_name %>
                </td>
                <td class="task-logs__cell task-logs__cell--task-name">
                    <%= tasks[task.task_id-1].title %>
                </td>
                <td class="task-logs__cell task-logs__cell--task-type">
                    <%= tasks[task.task_id-1].object_type %>
                </td>
                <td class="task-logs__cell task-logs__cell--type-name">
                    <% if(tasks[task.task_id-1].object_type === "department") { %>
                        <%= departments[tasks[task.task_id].object_id].title %>
                    <% } else if(tasks[task.task_id-1].object_type === "sub_department") { %>
                        <%= sub_departments[tasks[task.task_id].object_id].title %>
                    <% } else if(tasks[task.task_id-1].object_type === "pump") { %>
                        <%= pumps[tasks[task.task_id-1].object_id-1].title %>
                    <% } else if(tasks[task.task_id-1].object_type === "filter") { %>
                        <%= filters[tasks[task.task_id-1].object_id-1].title %>
                    <% } %>
                </td>
                <td class="task-logs__cell task-logs__cell--status">
                    <%= task.action %>
                </td>
                <td class="task-logs__cell task-logs__cell--comment">
                    <%= task.comment %>
                </td>
                <td class="task-logs__cell task-logs__cell--date">
                    <%= date.toLocaleString('en-GB', options) %>
                </td>
            </tr>
            <% }); %>
    </table>
</section>