<section>
    <h2>Task Logs:</h2>

    <table>
        <tr>
            <th>Performed by</th>
            <th>Task name</th>
            <th>Task type</th>
            <th>Type name</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
        <% taskLogs.forEach(task=> { %>
            <% const date = new Date(task.task_date) %>
            <% const options={ hour12: false, year: 'numeric' , month: '2-digit' , day: '2-digit' , hour: '2-digit', minute: '2-digit' };%>
            <tr>
                <td>
                    <%= users[task.user_id-1].first_name %>
                        <%= users[task.user_id-1].last_name %>
                </td>
                <td>
                    <%= tasks[task.task_id-1].title %>
                </td>
                <td>
                    <%= tasks[task.task_id-1].object_type %>
                </td>
                <td>
                    <% if(tasks[task.task_id-1].object_type === "department") { %>
                        department
                    <% } else if(tasks[task.task_id-1].object_type === "sub_department") { %>
                        sub department
                    <% } else if(tasks[task.task_id-1].object_type === "pump") { %>
                        pump
                    <% } else if(tasks[task.task_id-1].object_type === "filter") { %>
                        filter
                    <% } %>
                </td>
                <td>
                    <%= task.action %>
                </td>
                <td>
                    <%= task.comment %>
                </td>
                <td>
                    <%= date.toLocaleString('en-US', options) %>
                </td>
            </tr>
        <% }); %>
    </table>
</section>