<%- include('../partials/header.ejs')%>

  <h1>Tasks</h1>

  <% departments.forEach(function(department) { %>
    <h3>
      <%= department.title %>
    </h3>
    <table border="1">
      <thead>
        <tr>
          <th>Title</th>
          <th>Completed</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>

        <% tasks.forEach(task=> { %>

        <tr>
            <td>
              <%= task.title %>
            </td>
            <td>
              <%= task.completed? "Yes" : "No" %>
            </td>
            <td>
              <form method="POST" action="/admin/tasks/<%= task.id %>">
              <input type="hidden" name="taskId" value="<%= task.id %>">
                <button type="button" class="edit-task-btn" data-task-id="<%= task.id %>">
                  Edit
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <% }) %>
