<table class="measurements-table" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Unit</th>
            <th>Min Value</th>
            <th>Max Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% measurements.forEach(measurement=> { %>
            <tr>
                <td>
                    <%= measurement.id %>
                </td>
                <td>
                    <%= measurement.name %>
                </td>
                <td>
                    <%= measurement.unit %>
                </td>
                <td>
                    <input type="number" value="<%= measurement.min_value %>" disabled class="measurement-input measurement-input--min" />
                </td>
                <td>
                    <input type="number" value="<%= measurement.max_value %>" disabled class="measurement-input measurement-input--max" />
                </td>
                <td>
                    <button class="measurement-action-btn" type="button">Edit</button>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<script defer src="/scripts/analysis-edit.js"></script>