<%- include('../partials/header.ejs')%>

<section>
    <h1>Select sub department:</h1>
    <select class="subDepartmentSelect">
        <option value="all">All</option>
        <% sub_departments.forEach(sub_department => { %>
            <option value=<%= sub_department.id %>>
                <%= departments[sub_department.department_id-1].title %> |
                <%= sub_department.title %>
            </option>
        <% }); %>
    </select>

    <form action="/tasks/analysis" method="POST">
        <h2>Add water analysis</h2>
        <select name="time" required>
            <option value="1">Morning</option>
            <option value="2">Afternoon</option>
        </select>
        <select class="subDepartmentSelect" name="sub_department">
            <% sub_departments.forEach(sub_department => { %>
                <option value=<%= sub_department.id %>>
                    <%= departments[sub_department.department_id-1].title %> |
                    <%= sub_department.title %>
                </option>
            <% }); %>
        </select>
        <% measurement_definitions.forEach(measurement_definition => { %>
            <div>
                <label>
                    <%= measurement_definition.name%>
                    (<%= measurement_definition.unit%>)
                </label>
                <input  
                    <%= [2, 4, 5, 6].includes(measurement_definition.id) ? "required" : "" %>
                    name="<%= measurement_definition.id %>" 
                    id="<%= measurement_definition.id %>" 
                    type="number" step="0.01">
            </div>
        <% }); %>
        <div>
            <label>Comment</label>
            <input name="comment" placeholder="Optional comment">
        </div>
        <button type="submit">Add analysis</button>
    </form>

    <table border="1px">
        <tr>
            <th></th>
            <th></th>
            <th colspan="2">Depolox</th>
            <th colspan="3">Manual</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Date</th>
            <% measurement_definitions.forEach(measurement_definition => { %>
                <th><%= measurement_definition.short%></th>
            <% }); %>
            <th>User</th>
            <th>Comment</th>
        </tr>
        <tr>
            <td></td>
            <% measurement_definitions.forEach(measurement_definition => { %>
                <td><%= measurement_definition.unit%></td>
            <% }); %>
            <td></td>
            <td></td>
        </tr>

        <% measurement_logs.forEach(measurement_log => { %>
            <% if(measurement_log.time === 1) { %>
                <% const measurements = JSON.parse(measurement_log.measurements) %>
                <% const date = new Date(measurement_log.measured_date) %>
                <% const options={ hour12: false, year: 'numeric' , month: '2-digit' , day: '2-digit' };%>

                <tr class="row" data-sub-department-id="<%= measurement_log.sub_department_id  %>">
                    <td><%= date.toLocaleString('en-GB', options) %>
                    </td>
                    <% for (const measurement in measurements) { %>
                        <td><%= measurements[measurement] %></td>
                    <% } %>
                    <td><%= users[measurement_log.user_id].first_name %></td>
                    <td><%= measurement_log.comment %></td>
                </tr>
            <% } %>
        <% }); %>
    </table>

    <table border="1px">
        <tr>
            <th></th>
            <th >Depolox</th>
            <th colspan="3">Manual</th>
            <th></th>
            <th></th>
        </tr>
        <% const allowedArr = [2, 4, 5, 6] %>
        <tr>
            <th>Date</th>
            <% for(let i = 0; i < allowedArr.length; i++) { %>
                <th><%= measurement_definitions[allowedArr[i]-1].short%></th>
            <% } %>
            <th>User</th>
            <th>Comment</th>
        </tr>
        <tr>
            <td></td>
            <% for(let i = 0; i < allowedArr.length; i++) { %>
                <th><%= measurement_definitions[allowedArr[i]-1].unit%></th>
            <% } %>
            <td></td>
            <td></td>
        </tr>

        <% measurement_logs.forEach(measurement_log => { %>
            <% if(measurement_log.time === 2) { %>
                <% const measurements = JSON.parse(measurement_log.measurements) %>
                <% const date = new Date(measurement_log.measured_date) %>
                <% const options={ hour12: false, year: 'numeric' , month: '2-digit' , day: '2-digit' };%>

                <tr class="row" data-sub-department-id="<%= measurement_log.sub_department_id  %>">
                    <td><%= date.toLocaleString('en-GB', options) %>
                    </td>
                    <% for (const measurement in measurements) { %>
                        <% if(measurements[measurement]) { %>
                            <td><%= measurements[measurement] %></td>
                        <% } %>
                    <% } %>
                    <td><%= users[measurement_log.user_id].first_name %></td>
                    <td><%= measurement_log.comment %></td>
                </tr>
            <% } %>
        <% }); %>
    </table>

</section>

<%- include('../partials/tasks-log.ejs')%>