<%- include('../partials/header.ejs') %>

<div class="main homepage">
    <%- include("../partials/notificationsMessage.ejs") %>

    <section class="homepage__content">
        <div>
            <h1 class="homepage__title">Tasks</h1>
            <%- include('../partials/intervalSelect.ejs') %>
            <%- include('../partials/generalTasksSelect.ejs') %>
        </div>
        <%- include('../partials/calendarWeek.ejs')%> 
    </section>


    <%- include('../partials/navigation.ejs')%> 
</div>


<script src="/scripts/details.js"></script>