<section class="login">
    <h4 class="login__title">Login</h4>
    <button id="backButton" class="login__back">&lt; Terug</button>

    <form method="post" action="/login" class="login__form">

        <div id="userSelect" class="login__users">
            <% users.forEach(user=> { %>
                <div class="login__user">
                    <% if(user.pincode) {%>
                        <input type="radio" name="first_name" id="<%= user.first_name %>" value="<%= user.first_name %>">
                        <label for="<%= user.first_name %>" class="login__label">
                            <div class="login__profile-picture"></div>
                            <span class="login__name"><%= user.first_name %> <%= user.last_name.charAt(0)%>.</span>
                        </label>
                    <% } %>
                </div>
            <% }); %>
        </div>

        <div id="pinEnter" class="login__pin-enter">
            <%- include('../partials/pincodepanel.ejs')%>
            <input class="login__pin-input" type="<%= input.type %>" id="pinInput" name="<%= input.name %>" placeholder="<%= input.label %>">
            <span class="login__error-msg" id="pinError"></span>
        </div>
    </form>

    <a href="/register" class="login__register">Register</a>
</section>