<section class="login">
    <h2 class="login__title">Login</h2>
    <button id="backButton" class="login__back">&lt; Back</button>

    <form method="post" action="/login" class="login__form">

        <div id="userSelect" class="login__users">
            <% users.forEach(user => { %>
                <% if(user.pincode) {%>
                    <div class="login__user">
                        <input type="radio" name="first_name" id="<%= user.id %>" value="<%= user.first_name %>">
                        <label for="<%= user.id %>" class="login__label">
                            <img class="login__profile-picture" src='../assets/images/pfp<%= user.image_id %>.png'>
                            <span class="login__name"><%= user.first_name %> <%= user.last_name.charAt(0)%>.</span>
                        </label>
                    </div>
                <% } %>
            <% }); %>
        </div>

        <div id="pinEnter" class="login__pin-enter">
            <%- include('../partials/pincodepanel.ejs')%>
            <input class="login__pin-input" type="<%= input.type %>" id="pinInput" name="<%= input.name %>" placeholder="<%= input.label %>">
        </div>
    </form>

    <a href="/register" class="login__register">Register</a>
</section>

<script src="./scripts/login.js"></script>