<%- include("../partials/header.ejs") %>

<div class="main notifications-page">
  <h1 class="notifications-page__title">You've got <%= notifications.length %> <%= notifications.length === 1 ? "Notification" : "Notifications" %></h1>
  <% if (notifications && notifications.length > 0) { %>
    <ul class="notifications-page__list">
      <% notifications.forEach(notification => { %>
        <li class="notifications-page__item">
          <% const def = measurement_definitions[notification.measurement_def_id-1] %>
          <% const sub = sub_departments[measurement_logs[notification.measurement_log_id-1].sub_department_id-1] %>
          <% const values = JSON.parse(measurement_logs[notification.measurement_log_id-1].measurements) %>
          <% const keys = Object.keys(values) %>
          <% const value = values[keys[def.id-1]] %>
          <% let diff = 0 %>
          <span class="notifications-page__message">
            <% if (def && (notification.message === "high" || notification.message === "low")) { %>
              <% if (notification.message === "high"){ %>
                <% diff = value - def.max_value %>
              <% } else if (notification.message === "low") { %>
                <% diff = def.min_value - value %>
              <% } %>
              <strong><%= sub.title %></strong>: <%= value %><%= def.unit %> for <%= def.name %> is <%= diff %><%= def.unit %> too <strong><%= notification.message %></strong> 
            <% } else { %>
              <%= notification.message %>
            <% } %>
          </span>

          <form action="/notifications/<%= notification.id %>" method="POST" class="notifications-page__form">
            <button type="submit" class="button notifications-page__resolve-btn">Resolve</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p class="notifications-page__empty">No notifications.</p>
  <% } %>
</div>

<%- include("../partials/navigation.ejs") %>