<%- include('../partials/header.ejs') %>

  <div class="main">
    <h1>Users</h1>
    <form action="/admin/users" method="POST">
      <label>First name: <input type="text" name="first_name" required></label>
      <label>Last name: <input type="text" name="last_name" required></label>
      <label>Role:
        <select name="role" required>
          <option value="user">User</option>
          <option value="admin">Admin</option>
          <option value="aqua">Aquasplash</option>
        </select>
      </label>
      <button type="submit">Add user</button>
    </form>
    <h2>Existing users</h2>
  <table class="table">
    <tr>
      <th>User name</th>
      <th>User type</th>
      <th>Token</th>
      <th>Pincode</th>
    </tr>
      <% users.forEach(user=> { %>
        <tr>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= user.role %></td>
          <td><%= user.token %></td>
          <td><%= user.pincode %></td>
        </tr>
      <% }) %>
  </table>

    <%- include('../partials/navigation.ejs')%>
  </div>